*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(135deg,#00c6ff,#00ffb3);
}

.login-box{
    width:350px;
    background:white;
    padding:30px;
    border-radius:15px;
    box-shadow:0 10px 25px rgba(0,0,0,.2);
    text-align:center;
}

.login-box h2{
    margin-bottom:20px;
    color:#0b2d48;
}

.login-box input{
    width:100%;
    padding:12px;
    margin:10px 0;
    border:1px solid #ccc;
    border-radius:8px;
    outline:none;
}

.login-box button{
    width:100%;
    padding:12px;
    background:#00c6ff;
    color:white;
    border:none;
    border-radius:8px;
    cursor:pointer;
    font-size:16px;
    transition:.3s;
}

.login-box button:hover{
    background:#00a8dd;
}

.login-box p{
    margin-top:15px;
}

.login-box a{
    color:#00a8dd;
    text-decoration:none;
}

.back{
    display:inline-block;
    margin-top:15px;
}








.login-box{
    width:350px;
    background:white;
    padding:30px;
    border-radius:15px;
    box-shadow:0 10px 25px rgba(0,0,0,.2);
    text-align:center;

    animation: popUp 0.8s ease;
}

@keyframes popUp{
    0%{
        opacity:0;
        transform:translateY(50px) scale(0.8);
    }
    100%{
        opacity:1;
        transform:translateY(0) scale(1);
    }
}



.login-box input{
    width:100%;
    padding:12px;
    margin:10px 0;
    border:2px solid #ddd;
    border-radius:8px;
    outline:none;
    transition:0.4s;
}

.login-box input:focus{
    border-color:#00c6ff;
    box-shadow:0 0 12px rgba(0,198,255,0.5);
    transform:scale(1.03);
}




.login-box button{
    width:100%;
    padding:12px;
    background: #4CAF32;
    color:white;
    border:none;
    border-radius:8px;
    cursor:pointer;
    font-size:16px;
    transition:0.4s;
}

.login-box button:hover{
    background: #4CA;
    color:#0b2d48;
    transform:translateY(-4px) scale(1.05);
    box-shadow:0 10px 20px rgba(0,0,0,0.25);
}

.login-box button:active{
    transform:scale(0.96);
}





.login-box h2{
    color:#0b2d48;
    margin-bottom:20px;
    animation: glow 2s infinite alternate;
}

@keyframes glow{
    from{
        text-shadow:0 0 5px #00c6ff;
    }
    to{
        text-shadow:0 0 20px #00ffb3;
    }
}





body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(-45deg,#00c6ff,#00ffb3,#0077ff,#00b894);
    background-size:400% 400%;
    animation:bgMove 10s ease infinite;
}

@keyframes bgMove{
    0%{
        background-position:0% 50%;
    }
    50%{
        background-position:100% 50%;
    }
    100%{
        background-position:0% 50%;
    }
}